rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Temporary permissive rules for debugging
    match /{allPaths=**} {
      allow read, write: if true;
    }
  }
}
